<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Message App - Search</title>
</head>

<body>
  <h1>
    データベースから文字列を検索する
  </h1>

  <p>
    <a href="./">Topに戻る</a>
  </p>

  <form action="./search" method="post">
    <input type="text" name="searchText" placeholder="検索語句を入力" size="50" 
    value="<%= searchText %>"/>
    <button type="submit">検索</button>
  </form>

  <h2>検索結果</h2>
  <% if (results.length === 0) { %>
    <p>一致するデータが見つかりませんでした。</p>
  <% } else { %>
    <% results.forEach(function(result) { %>
      <p><%= result %></p>
    <% }); %>
  <% } %>
</body>

</html>
